@font-face {
    font-family: long;
    src: url("fonts/long.ttf");
}

body {
    margin: auto;
}

header {
    background-image: url("images/headerbg.jpg");
    width: 100%;
}

header p {
    margin: auto;
}

header p a {
    padding: 1em 0em 1em 1em;
    text-decoration: none;
    color: #FFF;
    font-family: long;
}

#title {
    font-size: 5em;
}

#subtitle {
    font-size: 4em;
}

#msg {
    font-family: Verdana;
    font-size: 3em;
    padding-left: 1em;
}

#answer {
    font-family: Helvetica;
    font-size: 2em;
    padding-left: 3em;
}

#menu {
    display: flex;
}

#menu div {
    border: 2px solid black;
    height: 10em;
    width: 20em;
    text-align: center;
    background-image: url("images/menubg/crossword.png");
}

#menu div p {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: 8em;
}

