@font-face {
    font-family: cdb;
    src: url(fonts/cdb.ttf);
}
@font-face {
    font-family: cd;
    src: url(fonts/cd.ttf);
}
/*title & menu styling */
html {
    margin: auto;
}

body {
    margin: auto;
}

header {
    background-image: url("images/redpent.jpg");
}

header p a {
    text-decoration: none;
}

#title {
    font-family: cdb;
    font-size: 50px;
    color: white;
    padding-left: 20px;

}

#subtitle {
    font-family: cd;
    font-size: 45px;
    color: white;
}

#menu {
    background: rgba(0, 0, 0, 0.2);
}

#menu ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

#menu ul li {
    display: inline;
    padding: 50px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: cd;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
/*end title & menu styling */

/*slideshow styling*/
#slideshow {
    margin: 30px auto;
    position: relative;
    width: 800px;
    height: 500px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
/*end slideshow styling*/
